.Rproj.user
.Rhistory
.Rhistory*
.Rproj*
.DS_Store
*.RData
.Ruserdata
*.rds
*.dat
#!/output/Bixi/results_bktr.rds
#!/output/Bixi/results_imr.rds
#!data/Simulation/*
!data/movielens/*
#!/output/movielens/*
#!/output/Simulation/*
*.rds
!/output/movielens/model_fits/simpute_cv.rds
!/output/movielens/model_fits/IMR_I_tune.rds
!/output/movielens/model_fits/IMR_IXZ_tune.rds

config.R
config.py