.Rproj.user
.Rhistory
.Rhistory*
.Rproj*
.DS_Store
*.RData
.Ruserdata
*.rds
*.dat
#!/output/Bixi/results_bktr.rds
#!/output/Bixi/results_imr.rds
#!data/Simulation/*
!data/movielens/*
#!/output/movielens/*
#!/output/Simulation/*
*.rds
/output/simulation
